
.img-main {
    /* . es selector de clase */
    /* centra la imagen aplica un borde */
    /* viene de class*/
    /*display: block;*/
    /*margin: 0px auto;
    /*   border: #ffffff solid 1px; */
    /*   padding: 5px;   */
    box-shadow: 0px 0px 20px 5px #000;
    /* 1° px dezplasamiento de la sombra de la imagen si es positivo hacia la derecha, si es negativo hacia la izquirda*/
    /* 2° px dezplasamiento de la sombra de la imagen si es positivo hacia la arriba, si es negativo hacia la abajo*/
    /* 3° px densiad de la sombra */
    /* 4° px ancho de la sombra */
    /* 5° valor color */
    border-radius: 4px;
    /* borde de la imagen redondeado */
}
.tabla{
    text-align: center;
}
#centro{
    text-align: center;
}